.surface-app {
  width: 100vw;
  height: 100vh;
  background: white;
  display: block;
}

.body-app {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 600px;
  border: white thin;
}
nz-layout {
  border-radius: 3em;
  margin-bottom: 48px;
  border-radius: 3em;
  margin-bottom: 48px;
  background:  #EDF3FA;

}
nz-header {
  border-radius: 3em;
  background:  #EDF3FA;
  padding-left: 4%;
}