.nav-bar {
  background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    height: 5vh;
    width: 3vw;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-size: 2em;
    font-family: monospace;
}
