.home-page {
  position: relative;
  background: #edf3fa;
  border-radius: 3em;
  width: 300px;
  height: 600px;
  padding-top: 10%;
  padding-left: 10px;
}
.title-text {
  font-family: calibri;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 21px;
}

.second-title-text {
  font-family: calibri;
  font-style: normal;
  font-weight: bolder;
  font-size: 25px;
  line-height: 21px;
  opacity: 10;
}

.image-view {
  position: relative;
  margin-left: 30%;
  overflow: hidden;
}

.inner {
  position: fixed;
  height: 52%;
  width: 90%;
  margin: auto;
  left: 5%;
  border-radius: 40px;
  top: 60%;
  background: white;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.duration {
  margin-top: 70%;
  margin-left: 10%;
  font-size: 18px;
}
.slider {
  margin-top: 90%;
  margin-left: 40%;
  width: 60px;
  height: 140px;
  background: #edf3fa;
  border-radius: 16px;
}
.pay-button {
  width: 58px;
  height: 48px;
  background: white;
  border-radius: 16px;
}
