<div class="home-page">
  <div class="title-text">
    <h2>Choose Your</h2>
  </div>
  <div class="second-title-text">
    <h2>Card And Pay</h2>
  </div>
  <div class="inner">
    <div class="grid-container">
      <div class="duration">
        <h3>Duration</h3>
        <h4>3 Hours</h4>
        <h3>Total</h3>
        <h4>300$</h4>
      </div>
      <div class="slider">
      <app-pay-button></app-pay-button>
      </div>
    </div>
  </div>

  <div class="image-view">
    <img src="assets/Card.png" />
  </div>
</div>
